body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}
figure{
  margin: 0;
  padding: 0;
 }
img{
  max-width: 100%;
  display: block;
}
p, h1,h2,h3,h4 {
  margin: 0px;
}
h1{
  font-size: 42px;
}
p{
  font-size: 20px;
  line-height: 1.3;
}
.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.menu a{
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.conteudo{ /*caixa principal do GRID*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.introducao{ /*caixa que envolve o conteudo no GRID*/
  text-align: right;
  background-color: #fff;
  padding: 40px;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
}
.detalhe{
  width: 60px;
  height: 4px;
  background-color: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}
.botao{
  background-color: #e21;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 5px 5px 10px 1px #00000070;
}
.subtitulo{ 
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  font-size: 64px;
  text-align: right;
  padding: 40px;
  align-self: center;
}
.vantagens{
  background-color: #fff;
  padding: 40px
}
.vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}
h4{
  font-size: 24px;
}
.vantagens-item p {
  grid-column: 2;
}
.rodape{
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  font-weight: 600;
}
