body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  background: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}
figure{
  margin: 0rem;
  padding: 0rem;
 }
img{
  max-width: 100%;
  display: block;
}
p, h1,h2,h3,h4 {
  margin: 0rem;
}
h1{
  font-size: 2.62rem;
}
p{
  font-size: 1.25rem;
  line-height: 1.3;
}

.menu {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
}
.menu a{
  background-color: #fff;
  padding: 0.93rem 1.87rem;
  border-radius: 0.25rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  border: 0.18rem solid rgba(0, 0, 0, 0.0);
}
nav a:hover{
  border: 0.18rem solid  #e21;
}
.conteudo{ /*caixa principal do GRID*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}
.introducao{ /*caixa que envolve o conteudo no GRID*/
  text-align: right;
  background-color: #fff;
  padding: 2.5rem;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 1.25rem;
}
section.introducao::before {
  width: 3.75rem;
  height: 0.25rem;
  background-color: #e21;
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
  display: inline-block;
  content: "";
}
.botao{
  background-color: #e21;
  text-transform: uppercase;
  color: #fff;
  padding: 0.93rem 1.87rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 700;
}
.botao:hover{
  background-color:#900;
}
.background{
  background-image: url(./img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
}
.subtitulo{ 
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  position: relative;
}
.vantagens{
  background-color: #fff;
  padding: 2.5rem;
}
.vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.62rem 1.25rem;
  padding: 1.25rem;
}
/* Seleciona article em números impares, com bacground f7f7f7*/
section.vantagens article:nth-child(odd) {
  background-color: #f7f7f7; /* Cor de fundo alternada */
  border-radius: 0.25rem; /* Borda arredondada */
}
section.vantagens article {
  position: relative; /* Posicionamento relativo para o pseudo-elemento */
}
section.vantagens article:before {
  content: ""; /* Conteúdo vazio para o pseudo-elemento */
  position: absolute; /* Posicionamento absoluto dentro do artigo */
  width: 0.31rem; /* largura do detalhe(horizontal)*/
  height: 8.2rem; /* largura na vertical do detalhe*/
  opacity: 0; /* Opacidade inicial zero */
  background-color: #e21; /* Cor de fundo padrão */
}
section.vantagens article:hover:before {
  opacity: 1; /* Opacidade total ao passar o mouse */
}
h4{
  font-size: 1.5rem;
}
.vantagens-item p {
  grid-column: 2;
}
.rodape{
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
  font-weight: 600;
}
