/* #Cores
cinza: #f7f7f7
cinza-escruto: #c6c6c6
vermelho: #ee2211

#Tipografia

fonte: Arial
parágrafo: 20px
Vantagens Bikecraft: 64px

#Tamanhos
Conteúdo principal: maximo 1000px*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
}
h1{
  text-align: center;
  padding: 50px;
  font-weight: 600;
  font-size: 64px;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu a{
  text-decoration: none;
  background-color: #fff;
  color: black;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
  margin-bottom: 20px;
}
.botao{
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px 25px;
  border-radius: 4px;
}
img{
  max-width: 100%;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 100px;
  max-height: 1000px;
}
.box{
  display: grid;
  gap: 5px;
  padding: 20px;
  gap: 20px;
  background: white;
}
.subtitulo{
  text-align: end;
  font-size: 30px;
}
.botao{
  place-self: center end;
}
.descricao{
  text-align: end;
  font-size: 20px;
  font-weight: 500;
}
.detalhe{
  width: 100px;
  height: 5px;
  background-color: red;
}
.box2{
    display: grid;
    align-items: center;
}
.texto{
  font-size: 64px;
  text-align: right;
  font-weight: bold;
  color: #c6c6c6;
  margin-right: 20px;
}
.box3{
  display: grid;
  gap: 5px;
  padding: 20px;
  gap: 20px;
  background: white;
}
.info{
  display: flex;
  align-items: center;
  gap: 10qpx;
}
span{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
p{
  margin-left: 35px ;
}
